In [ ]:
var1=input("Enter a string:")
var2=(input("Enter a integer:"))
print(var1)
print(var2)

Enter a string:hello world
Enter a integer:21
hello world
21

In [ ]:
num1=int(input())
num2=int(input())
print("Summation:",num1+num2)
print("Multiplicacation",num1*num2)

10
5
Summation: 15
Multiplicacation 50

In [ ]:
num1=int(input("Enter an integer"))
num2=float(input("Enter a float"))
add=num1+num2
sub=num1-num2
print(add,end=" ")
print(sub)

Enter an integer4
Enter a float5
9.0 -1.0

In [ ]:
num1=int(input())
num2=int(input())
num2=(float(num2))
result=(str(num1)+str(num2))
print(result)

2
3
23.0

In [ ]:
num1=int(input())
num2=int(input())
res=num1**num2
print(str(num1)+"^"+str(num2)+":"+str(res))

2
3
2^3:8

In [ ]:
num1=int((input()))
num2=int(input())
res=num1**num2
print(str(num1)+"^"+str(num2)+":"+str(res))

10
3
10^3:1000

In [ ]:
weight=int(input("Enter a number"))
each=(weight//4)
total=(each*4)
print(total)

Enter a number9
8

In [ ]:
A=int(input())
B=int(input())
C=int(input())
D=float((input()))

print(int((A**C)+(2*B)*(A//2)-D/2))

2
6
8
1.3
267

In [ ]:
name1=input("Enter a First Name:")
name2=input("Enter a Last Name:")

num1=int(input("Enter an Age:"))
num1-=2
num2=float(input("Enter a CGPA:"))
num2+=.25
print(name1,"Rahman")

print((num1))
print((num2))

Enter a First Name:Labiba
Enter a Last Name:Arif
Enter an Age:23
Enter a CGPA:3.7
Labiba Rahman
21
3.95